@tailwind base;
@tailwind components;
@tailwind utilities;



/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(84, 84, 84);
}

.tab__button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.tab__button:hover {
  color: aqua;
  border-bottom: 2px solid whitesmoke;
}

.tab__button:active {
  color: red;
  border-bottom: 2px solid whitesmoke;
}
