@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0080ff; /* Medical blue */
  --color-primary-light: #e6f2ff;
  --color-secondary: #16b582; /* Healthy green */
  --color-accent: #f34970; /* Energetic accent */
  --color-background: #f9fafb;
  --color-text: #1e293b;
  --color-text-light: #64748b;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(84, 84, 84);
}

.tab__button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.tab__button:hover {
  color: aqua;
  border-bottom: 2px solid whitesmoke;
}

.tab__button:active {
  color: red;
  border-bottom: 2px solid whitesmoke;
}
