@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0080ff;
  /* Medical blue */
  --color-primary-light: #e6f2ff;
  --color-secondary: #16b582;
  /* Healthy green */
  --color-accent: #f34970;
  /* Energetic accent */
  --color-background: #f9fafb;
  --color-text: #1e293b;
  --color-text-light: #64748b;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
  /* gray-900 */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #374151;
  /* gray-700 */
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
  /* gray-600 */
}

body {
  background-color: #111827;
  /* gray-900 */
  background-image: radial-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 32px 32px;
}

.tab__button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.tab__button:hover {
  color: aqua;
  border-bottom: 2px solid whitesmoke;
}

.tab__button:active {
  color: red;
  border-bottom: 2px solid whitesmoke;
}